@use "sass/fonts" as font;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Domine:wght@400..700&display=swap&family=Alan+Sans:wght@300..900&display=swap&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@include font.CreateFonts("ggsans-Semibold", "ttf", "GG Sans", './sass/');

$fonts: (
  "outfit": "Outfit",
  "ubuntu": "Ubuntu",
  "domine": "Domine",
  "alan": font.$alan_sans,
  "robot-mono": "Roboto Mono",
  "poppins": font.$poppins,
  "gg-sans": "GG Sans",
);

@each $name, $font in $fonts {
  .font-#{$name} {
    font-family: $font;
  }
}


$bd-value: 8px;
$borders: ("top-left", "top-right", "bottom-left", "bottom-right");

@each $names in $borders {
  .border-#{$names} {
    border-#{$names}-radius: $bd-value;
  }
}

.subElement {
  $Y: 20px;
  opacity: 0;
  transform: translateY($Y);
  animation: subAnimation 1s ease-out forwards;
}

@keyframes subAnimation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

$delayBase: 0.3s;
$delays: (
  "1": $delayBase,
  "2": $delayBase * 2,
  "3": $delayBase * 3,
  "4": $delayBase * 4,
);

@for $delay from 1 through 4 {
  .delay-#{$delay} {
    animation-delay: $delayBase * $delay;
  }
}

.btn-discord-bg {
  background-color: #5865F2;
  width: 190px;
  &:hover {
    background-color: #525ee3;
  }
}